* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

body>.main-content {
    flex-grow: 1;
}
header, footer {
    flex: 0 0 auto;
    height: 100px;
    background-color: #13989D;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}
header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    padding-top: 15px;
}

header>.container>nav li {
    display: inline-block;
    margin: 0 20px;
}

li>a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
}

.logo__item {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 50px;
    color: white;
    opacity: 1;
}

/**  Goods ***/

.goods {
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
}
.goods__item {
    width: 23%;
    margin: 20px;
}
.goods__item img {
    width: 100%;
    height: 280px;
}
.goods__item h3:hover {
    color: #13989D;
    cursor: pointer;
}

.description {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.price {
    margin-top: 5px;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: #ff0000;
}

.btnBuy {
    cursor: pointer;
    background: #9D1813;
    color: #ffffff;
    padding: 0.8em 1.1em;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-weight: 700;
}

.btnBuy:hover {
    border: #ffffff solid 1px;
    box-sizing: border-box;
}

.title {
    margin-top: 10px;
}



@media (max-width: 1030px) {
    .goods {
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Modal */

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}
/*.modal.open,*/ .modal.cart.open {
    opacity: 1;
    visibility: visible;
}


.modal_body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.close {
    text-align: end;
}

.modal_content {
    min-width: 375px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #edeff2;

}

.headerCart h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 35px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    color: #13989D;
}

.close {
    margin-top: 10px;
    margin-right: 15px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.cart__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.cart__item__description {
    display: flex;
    flex-direction: row;
}

.resultAmount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 45px 45px;
    border-top: 1px solid black;
}

.resultAmount p {
    margin-top: 10px;
}

.cart__item {
    margin: 10px 45px 10px 45px;
}

.amountGood {
    height: 20px;
}

.minus, .plus, .delete {

    margin-top: 1px;
    background-color: #9D1813;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    height: 25px;
    width: 25px;
    outline: none;
    box-sizing: border-box;
    border-top: 1px solid #99a8bf;
    border-left: 1px dotted #99a8bf;
    border-bottom: 1px solid #99a8bf;
    cursor: pointer;
}

.cart__item__price {
    margin-top: 5px;
}
